<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{wanted ? 'Wanted People' : 'Missing People'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-list lines="full">
    <ion-item *ngFor="let person of people" button [routerLink]="['person', person.id]">
      <ion-avatar slot="start"><img [src]="'assets/crime/' + person.photo" alt=""></ion-avatar>
      <ion-label>{{person.name}}</ion-label>
      <ion-badge slot="end" color="danger">₹{{person.reward}}</ion-badge>
    </ion-item>

  </ion-list>
</ion-content>
