<ion-header>
  <ion-toolbar>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center">
    <ion-avatar style="width: 100px; height: 100px; margin: 20px auto 16px;" >
      <img src="assets/avatars/Asset 4.svg">
    </ion-avatar>
    <ion-button routerLink="change-avatar" fill="clear">Change Avatar</ion-button>
  </div>
  <ion-item style="margin-top: 20px;">
    <ion-label position="floating">Username</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <div class="ion-padding">
    <ion-button expand="block" color="danger" fill="outline" routerLink="change-password" class="ion-margin-bottom">Change Password</ion-button>
  </div>
</ion-content>
<ion-footer class="ion-padding">
  <ion-button expand="block">submit</ion-button>
</ion-footer>
