<ion-content>
  <div style="height: 240px; background: var(--ion-color-primary); display: flex; justify-content: center;">
   <img src="assets/logo.svg" alt="" style="height: 120px; margin-top: 16px;">
 </div>

 <div style="margin-top: -80px; border-radius: 50px 50px 0 0; background: #fff; padding: 64px 16px 16px;">
  <ion-button routerLink="/add-tip" expand="block" style="margin-bottom: 16px;" color="success">
    <ion-icon slot="start" name="add"></ion-icon>
    Add TipOff directly</ion-button>
  <ion-button routerLink="/login" expand="block" style="margin-bottom: 16px;">Login</ion-button>
  <!-- <ion-button routerLink="/register" expand="block" style="margin-bottom: 16px;">Register</ion-button> -->
 </div>

</ion-content>
<ion-footer>
  <p style="text-align: center">Copyright Tipwise 2022</p>
</ion-footer>
