<ion-header>
  <ion-toolbar>
    <ion-title>FAQs</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="ion-margin-horizontal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nulla blanditiis saepe quibusdam, omnis facere vel error ratione optio.</p>
  <ion-accordion-group>
    <ion-accordion value="q1">
      <ion-item slot="header">
        <ion-label><strong>Lorem ipsum dolor sit amet.</strong></ion-label>
      </ion-item>
      <ion-item slot="content" lines="none">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, nostrum?
        </ion-item>
    </ion-accordion>
    <ion-accordion value="q2">
      <ion-item slot="header">
        <ion-label><strong>Lorem ipsum dolor sit amet.</strong></ion-label>
      </ion-item>
      <ion-item slot="content" lines="none">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum quasi doloremque deleniti atque. Molestiae architecto consequatur minus vero tempora reprehenderit libero beatae quae! Recusandae.
      </ion-item>
    </ion-accordion>
    <ion-accordion value="q3">
      <ion-item slot="header">
        <ion-label><strong>Lorem ipsum dolor sit amet.</strong></ion-label>
      </ion-item>
      <ion-item slot="content" lines="none">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In corrupti a nisi.</ion-item>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
