<ion-header>
  <ion-toolbar>
    <ion-title>FAQs</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="ion-margin-horizontal">These are the frequently asked questions. Please go through these before you ask any questions on the support page.</p>
  <ion-accordion-group>
    <ion-accordion value="q1">
      <ion-item slot="header">
        <ion-label><strong>How to add a tipoff?</strong></ion-label>
      </ion-item>
      <ion-item slot="content" lines="none">
          You can add the tipoff by going on the home page and clicking on the plus button situated at the bottom right of the screen.
        </ion-item>
    </ion-accordion>
    <ion-accordion value="q2">
      <ion-item slot="header">
        <ion-label><strong>How to change my avatar?</strong></ion-label>
      </ion-item>
      <ion-item slot="content" lines="none">
        You can change your avatar by going on the profile tab and edit profile page.
      </ion-item>
    </ion-accordion>
    <ion-accordion value="q3">
      <ion-item slot="header">
        <ion-label><strong>My Trust score is not increasing</strong></ion-label>
      </ion-item>
      <ion-item slot="content" lines="none">
        Your trust score increases when your reported tipoff get confirmation of correctness.
      </ion-item>
    </ion-accordion>
    <ion-accordion value="q3">
      <ion-item slot="header">
        <ion-label><strong>My Trust score went down</strong></ion-label>
      </ion-item>
      <ion-item slot="content" lines="none">
        Your trust score decreases when your reported tipoff turns out to be false.
      </ion-item>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
