<ion-content>
  <div style="background: var(--ion-color-primary); height: 150px; margin-bottom: -40px; border-bottom-right-radius: 40px;">
    <ion-item color="primary" lines="none">
      <ion-label>
        <h1 style="padding-top: 20px; padding-bottom: 5px;">Welcome<span> Name</span></h1>
        <p>Lorem ipsum dolor sit.</p>
      </ion-label>
      <ion-badge style="padding: 12px 12px 12px 12px;border-radius: 22px;font-size: 16px;" color="warning" slot="end">55</ion-badge>
    </ion-item>

  </div>
  <div style="margin-top: -40px; margin-left: 20px;">

    <ion-avatar slot="start" style="width: 80px;height: 80px; --border-radius:20px;">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
  </div>

  <ion-card color="light" style="text-align: center;margin-top: 20px;">
    <h4 style="margin-top: 16px">Tips</h4>
    <div style="display: flex; flex-direction: row">
      <div class="ion-padding" style="width: 32%;">
        <h5 style="margin-top: 0;">Total</h5>
        <ion-text color="primary">
          <h4>{{tt}}</h4>
        </ion-text>
      </div>
      <div class="ion-padding" style="width: 36%;">
        <h5 style="margin-top: 0;">Confirmed</h5>
        <ion-text color="success">
          <h4>{{ct}}</h4>
        </ion-text>
      </div>
      <div class="ion-padding" style="width: 32%;">
        <h5 style="margin-top: 0;">Rejected</h5>
        <ion-text color="danger">
          <h4>{{rt}}</h4>
        </ion-text>
      </div>
    </div>
  </ion-card>




  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add-tip">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
