<ion-content>
  <div style="background: var(--ion-color-primary); height: 150px; margin-bottom: -40px; border-bottom-right-radius: 56px;">
    <ion-item color="primary" lines="none">
      <ion-label>
        <h1 style="padding-top: 20px; padding-bottom: 5px;">Welcome</h1>
        <p>Inform and protect your neighbourhood</p>
      </ion-label>
      <ion-badge style="padding: 12px 12px 12px 12px;border-radius: 22px;font-size: 16px;" color="warning" slot="end">{{ts}}</ion-badge>
    </ion-item>

  </div>
  <div style="margin-top: -40px; margin-left: 20px;">

    <ion-avatar slot="start" style="width: 80px;height: 80px; box-shadow: 0 2px 8px rgba(0,0,0,0.2);">
      <img src="assets/avatars/Asset 4.svg">
      <!-- <ion-icon name="person"></ion-icon> -->
    </ion-avatar>
  </div>

  <ion-card class="mt-6 text-center">
    <h4 class="pb-4 my-4" style="border-bottom: 1px solid #ddd;">Tips: <ion-text color="primary">{{pt}}</ion-text></h4>
    <div style="display: flex; flex-direction: row">
      <div class="ion-padding" style="width: 32%;">
        <h5 style="margin-top: 0;">Pending</h5>
        <ion-text color="warning">
          <h4>{{pt}}</h4>
        </ion-text>
      </div>
      <div class="ion-padding" style="width: 36%;">
        <h5 style="margin-top: 0;">Confirmed</h5>
        <ion-text color="success">
          <h4>{{ct}}</h4>
        </ion-text>
      </div>
      <div class="ion-padding" style="width: 32%;">
        <h5 style="margin-top: 0;">Rejected</h5>
        <ion-text color="danger">
          <h4>{{rt}}</h4>
        </ion-text>
      </div>
    </div>
  </ion-card>




  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab">
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" data-desc="Missing Person" routerLink="missing-people"><ion-icon name="person-add-outline"></ion-icon></ion-fab-button>
      <ion-fab-button color="light" data-desc="Wanted Person" routerLink="wanted-people"><ion-icon name="person-remove-outline"></ion-icon></ion-fab-button>
      <ion-fab-button color="light" data-desc="Add Tipoff" routerLink="/add-tip"><ion-icon name="add"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
