<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;">
    <img src="assets/logo.svg" alt="" height="120" style="margin: 50px 0 24PX;">
  </div>
  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <div class="ion-margin-top" style="text-align: center;">
    <ion-button routerLink="/tabs/home" style="--padding-start: 32px; --padding-end: 32px;">Submit</ion-button>
  </div>
  </ion-content>
  <ion-footer>
    <div style="display:flex">
      <ion-button color="secondary" expand="full" style="margin: 16px 8px 16px 16px; width:50%" disabled>Login</ion-button>
      <ion-button routerLink="/register" color="secondary" expand="full" style="margin: 16px 16px 16px 8px; width:50%">Register</ion-button>
    </div>
  </ion-footer>
