<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item style="margin-bottom: 20px;">
      <ion-label position="floating">Username</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>

  <div style="display:flex">
    <ion-button expand="full" style="width:50%">Login</ion-button>
    <ion-button expand="full" style="width:50%" disabled>Register</ion-button>
  </div>
</ion-footer>
