<ion-content>
   <div style="height: 220px; background: var(--ion-color-primary); display: flex; justify-content: center;">
    <img src="assets/logo-white.svg" alt="" style="height: 120px; margin-top: 16px;">
  </div>

  <div style="margin-top: -80px;">
    <ion-card style="border-radius: 20px;">
      <ion-card-content>
      <!-- <div>
          <ion-icon name="person-outline" style="width: 100px;height: 100px;"></ion-icon>
          <ion-label>Name</ion-label>
      </div> -->
      <ion-item style="--inner-border-width: 0">
        <ion-avatar slot="start" style="width: 80px;height: 80px;">
          <img src="assets/avatars/Asset 4.svg">
        </ion-avatar>
        <ion-label>
          <h1>{{uuid}}</h1>
          <h2>Trust score:
            <ion-text [color]="trustScore < 0 ? 'danger' : trustScore >= 20 ? 'success' : 'warning'">
              <strong>{{trustScore}}</strong>
            </ion-text>
          </h2>

        </ion-label>

      </ion-item>

      </ion-card-content>
    </ion-card>
  </div>
  <ion-list lines="full">
    <ion-item routerLink="edit-profile">
      Edit Profile
      <ion-icon slot="end" name="chevron-forward"></ion-icon>
    </ion-item>
    <ion-item routerLink="rewards">
      My Rewards
      <ion-icon slot="end" name="chevron-forward"></ion-icon>
    </ion-item>
    <ion-item routerLink="faq">
      FAQs
      <ion-icon slot="end" name="chevron-forward"></ion-icon>
    </ion-item>
    <ion-item routerLink="support">
      Support
      <ion-icon slot="end" name="chevron-forward"></ion-icon>
    </ion-item>
  </ion-list>



</ion-content>

<ion-footer style="padding: 16px;">

  <ion-button color="danger" expand="block">
    Logout
  </ion-button>
</ion-footer>
