<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div style="height: 200px; background: blue;"></div>

<div style="">
  <ion-card>
    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus quidem in iure, voluptatem dolore consequuntur eligendi. Qui repudiandae, doloribus eligendi, blanditiis sed repellendus, id aliquid ipsum necessitatibus similique harum rem.
    </ion-card-content>
  </ion-card>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta vitae nemo consequuntur magnam excepturi facilis, saepe itaque? Impedit ratione commodi repellendus sequi. Asperiores eius officiis quam ut debitis ad officia!
</div>
</ion-content>
